@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color:rgb(0, 0, 0);
    color: #ffffff;
}

.destaque {
    color: #4289b4;
}

.apresentacao{
    margin: 8% 15%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 100px;
}
.apresentacao__conteudo__titulo{
    font-family: "Sedan", serif;
    font-size: 36px;
    
}
.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    
}
.apresentacao__links{

    display: flex;
    justify-content: space-between;
}
.apresentacao__botao__link{
    
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 800;
    padding: 21.5px 0;
    text-decoration: none;
    color: #b62020;
    font-family: "Montserrat", sans-serif;
}
.imagem{
    border-radius: 16px;
}