@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Montserrat:ital@0;1&display=swap');

:root{ /* Definindo variaveis*/
    --cor-primaria: black;
    --cor-secundaria: #ffffff;
    --cor-terciaria: aqua;
    --cor-hover:rgb(43, 42, 42);

}



*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #ffffff;
}

.cabecalho {
    padding: 2% 0 0 15%;
    
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;
}
.destaque {
    color: var(--cor-terciaria);
}

.apresentacao{
    margin: 7% 15%;
    align-items: center;
    display: flex;
    
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.apresentacao__conteudo__titulo{
    font-family: "Sedan", serif;
    font-size: 36px;
    
}
.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    
}
.apresentacao__links{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}
.apresentacao__botao__link{
    
    width: 280px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    width: 388px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 800;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    border: 2px groove var(--cor-terciaria);
    
}
.imagem{
    border-radius: 16px;
    padding-left: 50px;
}
.apresentacao__subtitulo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.apresentacao__botao__link:hover{
    background-color: var(--cor-hover);

}
.rodape{
    padding: 18px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}
.paragrafo__about{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5em
}
.imagem__about{
    padding-left: 10%;
    width: 300px;
}
.titulo__videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20%;
}